PORT=<default>
SOL_RESERVE_ADDRESS=<public-key-of-the-wallet-reserve>
AUTH_SECRET=<randomly-generated-string>
TOKEN_MINT=<mint-address-of-the-spl-token>
HELIUS_RPC_URL=<helius-rpc-url>
MINT_AUTHORITY_PRIVATE_KEY=<mint-authority-bs58-encoded-private-key>
REDIS_HOST=<default>
REDIS_PORT=<default>